// Font
.font {
    &-bold {
        font-weight: 700;
    }
    &-black {
        font-weight: 900;
    }
    &-italic {
        font-style: italic;
    }
}

.title {
	&.-textfunny {
		text-transform: uppercase;
		text-shadow: -5px 2px 0px $color33;
		text-decoration: none;
		-webkit-text-stroke: 1.8px $color33;
	}
	&.-textlight {
		font-family: $yikes;
		text-decoration: none;
		text-transform: uppercase;
	}
	&.-lightfunny {
		font-family: $yikes;
		text-transform: uppercase;
	    text-shadow: 3px 2px 0px $color30;
	    text-decoration: none;
	    color: $color32;
	}
	&.-fat {
		font-family: $cooper;
		text-transform: uppercase;
		font-size: rem(80);
		line-height: 1;
		text-decoration: none;
	}
	&.-dark {
		font-family: $cooper;
		font-size: rem(27);
		color: $color20;

	}
}
