.board {
	background-size: cover;
	background-position: center center;

	&.-header {
		position: absolute;
		width: 50%;
		height: 50vh;
		right: 0;
		bottom: 0;
		background-image: url('../images/foodparkImage2.png');
	}
}