.counters {
	@extend .clearfix;
	margin-top: rem(100);
	.item {
		font-family: $yikes;
		width: 25%;
		float: left;
		list-style: none;
		text-transform: uppercase;
		margin-bottom: rem(35);
		.value {
			font-size: rem(98);
			color: $color16;
			line-height: 1;
		}
		.legend {
			color: $color31;
			font-size: rem(20);
		}
	}
}