.floating {
	position: absolute;
	&.-header {
		content: '';
		left: 50%;
		top: 50%;
		@include prefix(transform, translate(-50%, -50%), webkit ms);
		width: rem(463);
		height: rem(408);
		background: url('../images/foodspace-01.svg') no-repeat center;
		background-size: contain;
	}
	&.-mada-ball{
		width: rem(195);
		height: rem(195);
		background: url('../images/madaBall.png') no-repeat center;
		background-size: contain;
		bottom: rem(-83);
		left: rem(80);
	}
	&.-rollers{
		width: 100%;
		height: rem(487);
		background: url('../images/rollers.png') repeat-x center;
		background-size: contain;
		top: rem(-243);
		left: 0;
	}
}