// Form
.form {
	&.-mada-styl {
		font-family: $yikes;
		position: relative;

		.form-input {
			height: auto;
			padding: rem(15);
			line-height: 1;
			font-size: rem(15);
		}
	}
	&.-smile-light:before {
		content: '';
		position: absolute;
		right: rem(48);
		bottom: 0;
		width: rem(35);
		height: rem(35);
		background-image: url('../images/mini-smile.png');
		background-size: cover;
	}
}
