// Header
.header {
    width: 100%;
    position: relative;
    padding: rem(80 80 160 80);
    z-index: 1499;
    display: block;
    min-height: 100vh;
    background-color: $color30;
    overflow: hidden;

    .navmain {
        @extend .clearfix;
        display: block;
        font-family: $cooper;

        .list.menu {
            .item {
                margin-left: rem(25);
            }  
        }
    }

    .brand {
        width: rem(123);

        .logo {
            width: rem(123);
            height: rem(98);
            background-image: url('../images/mada-logo.png');
            display: inline-block;
        }
        @media screen and (max-width: $grid-float-breakpoint-max) {
            .logo {
                background-image: url('../images/mada-logo.png');
            }
        }
    }

    .header-social {
        font-size: rem(50);
        display: block;
        float: none !important;
        text-align: right;

        .item {
            padding: 0;
        }
    }

    .welcome {
        .text {
            font-size: rem(43);
            letter-spacing: rem(3);
            font-family: $baffled;
            line-height: rem(50);
        }
    }
    
    .address{
        &.-card {
            font-family: $yikes;
            position: absolute;
            left: rem(80);
            bottom: rem(-2);
            background-color: $color15;
            border-radius: 5px;
            padding: rem(30 30 10 30);
            width: rem(250);
            box-shadow: 0px 2px 5px 0px rgba(24, 24, 25, 0.2);
        }
        .street {
            font-size: rem(11);
            margin-bottom: rem(12);
            text-transform: uppercase;
            letter-spacing: rem(1);
            line-height: rem(15);
        }
        .phone.list {
            padding: rem(0);
            .item {
                list-style: none;
                font-size: rem(19);
            }
        }
    }
}
