// Section
.section {
    color: $color21;
    text-align: center; 
    .title {
        text-decoration: underline;
        font-size: rem(18);
        padding: rem(50 0)
    }
    .description {
        font-size: rem(30);
        margin-bottom: rem(30);
    }

    &.-localization {
        @extend .clearfix;
        position: relative;

        .-smile:before {
            content: '';
            position: absolute;
            left: 50%;
            @include prefix(transform, translateX(-50%), webkit ms);
            width: rem(126);
            height: rem(126);
            bottom: rem(-33);
            background-image: url('../images/smile-01.svg');        
            background-size: contain;
            background-position: center center;
            background-repeat: no-repeat;
            z-index: 2;
        }
        .map{
            height: rem(385);
            background: $color15;
        }
        .letteringfood{
            background-image: url('../images/streetFood-01.svg');
            background-size: rem(50%);
            background-position: center center;
            background-repeat: no-repeat;
            background-color: $color31;
            height: rem(385);
        }
    }

    &.-about-foodpark {
        font-family: $cooper;
        text-align: center;
        padding: rem(80 80 80 80);
        background-image: url('../images/lines.png');
        background-position: top -25px center;
        background-repeat: no-repeat;
    }

    &.-wall-letters {
        position: relative;
        min-height: 70vh;
        background-image: url('../images/walldarkwords.png');
        background-repeat: no-repeat;
        background-size: cover;
    }

    &.-contact {
        position: relative;
        font-family: $cooper;
        text-align: left;
        color: $color10;
        background-color: $color32;
        
        .elements {
            margin-left: rem(80);
            padding: rem(80 0 200 0);
            background-image: url('../images/lines.png');
            background-position: bottom 70px center;
            background-repeat: no-repeat;
            background-size: rem(224);
            text-align: left;
            width: rem(451);

            .title.-textfunny {
                padding: rem(10);
                font-size: rem(70);
                line-height: 1;
            }
            .title.-textlight {
                font-size: rem(40);
                padding: rem(20 0);
            }
            .legend {
                font-family: $cooper;
                font-size: rem(18);
            }
            .form {
                margin-top: rem(40);
                padding-right: rem(30);
            }
        }

        .figure {
            position: absolute;
            right: 0;
            top: 0;
            width: rem(435);
            height: 100%;
            background-image: url('../images/pink-lines.png');

            .imgfoodspace {
                position: absolute;
                top: rem(-95);
                right: rem(0);
                width: rem(712);
                height: rem(633);
                background-image: url('../images/car-and-pic.png');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
            }
        }
    }

    &.-culture {
        position: relative;
        font-family: $cooper;
        text-align: left;
        min-height: rem(628);
        overflow: hidden;
        .elements {
            float: left;
            padding: rem(80 80 80 80);
            text-align: left;
            width: calc(100% - 540px);
            
            .description {
                max-width: rem(500);
            }
        }

        .figure {
            float: right;
            width: rem(540);
            height: 100%;
            background-image: url('../images/streetwall.png');
            background-position: top -80px center;
            height: rem(628);
        }
    }

    &.-footer {
        @extend .clearfix;

        .community {
            min-height: rem(557);
            background-image: url('../images/peoples.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom center;

            .board-contact {
                color: $color10;
                text-align: left;
                padding: rem(60 160 60 60);
                position: absolute;
                width: 50%;
                right: 0;
                background-color: $color33;
                @include prefix(transform, translateY(-50%), webkit ms);

                .title.-textlight {
                    padding: rem(0);
                    font-size: rem(36);
                    line-height: 1.3;
                    margin-bottom: rem(25);

                }
                .legend {
                    font-family: $cooper;
                    font-size: rem(18);
                    max-width: rem(350);
                }
                .title.-dark {
                    margin-top: rem(40);
                    padding: 0;
                }
            }
        }
        .base {
            position: relative;
            background-color: $color34;
            height: rem(594);
            text-align: left;
            background-image: url('../images/base-bg.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top 100px right 180px;
            
            .cup {
                position: absolute;
                width: rem(557);
                height: rem(631);
                left: rem(80);
                top: rem(-315);
                background-image: url('../images/cup.png');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
            }
            .logo.-experimenta {
                width: rem(323);
                height: rem(84);
                margin-top: rem(349);
                display: inline-block;
                background-image: url('../images/experimentaLogo.png');
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center center;
            }
        }
    }
    
    &.-miscellaneous {
        @extend .clearfix;
        position: relative;
        text-align: left;
        
        .cool-box {
            float: left;
            height: rem(1000);
            width: 411px;
            background-color: $color30;
            position: relative;
            background-image: url('../images/dots-blue.png');
            background-repeat: no-repeat;
            background-position: top right;

            .cool {
                position: absolute;
                left: rem(-50);
                top: rem(200);
                width: rem(608);
                height: rem(192);
                background-image: url('../images/cool-01.svg');
                background-repeat: no-repeat;
                background-size: contain;
                z-index: 2;
            }

            .description {
                font-family: $cooper;
                line-height: 2.6;
                display: inline-block;
                height: calc(100% - 494px);
                margin-top: rem(494);
                background-color: $color10;
                padding: rem(100);
                font-size: rem(13);
            }
        }
        .bestfoodtruck {
            float: right;
            width: calc(100% - 411px);
            height: rem(1000);
            background-color: #f3a7c9;
            background-image: url('../images/bags.png');
            background-repeat: no-repeat;
            background-size: contain;
            background-position: top -180px center;
            position: relative;

            .beer {
                position: absolute;
                bottom: 0;
                left: 0;
                float: left;
                width: 50%;
                height: rem(287);
                background-image: url('../images/beers.png');
                background-repeat: no-repeat;
                background-size: cover;
                background-position: bottom center;
            }
            .inhouse {
                position: absolute;
                bottom: 0;
                right: 0;
                float: left;
                width: 50%;
                height: rem(287);
                background-image: url('../images/red-lines.png');
                background-repeat: no-repeat;
                background-size: cover;
                color: $color10;
                padding-left: rem(50);
                padding-top: rem(30);

                .title {
                    margin: 0;
                    padding: 0;
                }
            }
        }
    }

    &.-features {
        @extend .clearfix;
        .elements {
            height: rem(509);
            width: 50%;
            float: left;
            text-align: left;
            padding: rem(76 85);

            .title.-lightfunny{
                font-size: rem(57);
            }
        }
        .figure {
            float: left;
            background-image: url('../images/gradientImage.png');
            background-repeat: no-repeat;
            background-size: cover;
            background-position: bottom center;
            height: rem(509);
            width: 50%;
        }
    }
}
