@font-face {
  font-family: 'icomoon';
  src:  url('../../fonts/icomoon/icomoon.eot?fkz4l5');
  src:  url('../../fonts/icomoon/icomoon.eot?fkz4l5#iefix') format('embedded-opentype'),
    url('../../fonts/icomoon/icomoon.ttf?fkz4l5') format('truetype'),
    url('../../fonts/icomoon/icomoon.woff?fkz4l5') format('woff'),
    url('../../fonts/icomoon/icomoon.svg?fkz4l5#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e900";
}