@-ms-viewport   { width: device-width; }
@-o-viewport    { width: device-width; }
@viewport       { width: device-width; }

html {
    font-size: $font-size-base;
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    // background-color: $color30;
}

a,
button {
    outline: none !important;
    transition: all .4s ease;
    &:hover,
    &:visited,
    &:focus {
        text-decoration: none;
    }
}

a[href^=tel] {
    color: inherit;
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 

.clearfix:after {
    clear: both;
}

/* IE 6 & 7 */
.clearfix {
    zoom: 1;
}