// Slide
.slide {
    .bullets {
        text-align: center;
    }
}

.swiper-container {
        width: 100%;
        height: 100vh;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.slide-item {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.swiper-pagination-bullet {
    width: 18px;
    height: 18px;
    background: #fff;
    opacity: 1;
}
.swiper-pagination-bullet-active {
    opacity: 1;
    background: #ec4e58;
}
.swiper-pagination-fraction, .swiper-pagination-custom, .swiper-container-horizontal > .swiper-pagination-bullets {
    bottom: 39px;
}