// Colors
$color10:   #ffffff;
$color15:   #efefef;
$color16: 	#aeaeae;
$color20:   #000000;
$color21: 	#332d1f;
$color25:   #231f20;
$color30: 	#ffde16;
$color31:	#f198c0;
$color32: 	#3d62ae;
$color33: 	#ed5059;
$color34: 	#f36f37;

// Status Colors
$success:   #8bc34a;
$danger:    #f44336;
$warning:   #ffc107;
$info:      #03a9f4;

// Social Colors
$facebook:  #39579b;
$twitter:   #588dc9;
$youtube:   #bb0000;
$google:    #dd4b39;
$whatsapp:  #4dc247;
$linkedin:  #0079b8;
