// Fonts
$fontastic: 'happy-icons';
$baffled: 'baffled';
$nexa: 'nexa';
$ruffest: 'ruffest';
$sifonn: 'sifonn';
$wanderlust: 'wanderlust';
$yikes: 'yikes';
$cooper: 'cooper';
$icomoon: 'icomoon';

/* Fontastic */
@include font-face(
    $fontastic,
    "../fonts/icomoon/#{$icomoon}",
    normal,
    normal,
    eot woff ttf svg
);

@include font-face(
    $fontastic,
    "../fonts/fontastic/#{$fontastic}",
    normal,
    normal,
    eot woff ttf svg
);

// Nexa
@include font-face(
    $nexa,
    "../fonts/#{$nexa}/NexaLight",
    300,
    normal,
    eot woff ttf svg
);

@include font-face(
    $baffled,
    "../fonts/#{$baffled}/Baffled-Regular",
    700,
    normal,
    eot woff ttf svg
);

@include font-face(
    $ruffest,
    "../fonts/#{$ruffest}/Ruffest",
    700,
    normal,
    eot woff ttf svg
);

@include font-face(
    $sifonn,
    "../fonts/#{$sifonn}/Sifonn-Basic",
    300,
    normal,
    eot woff ttf svg
);
@include font-face(
    $sifonn,
    "../fonts/#{$sifonn}/Sifonn-Basic-Outline",
    500,
    normal,
    eot woff ttf svg
);

@include font-face(
    $nexa,
    "../fonts/#{$nexa}/NexaBold",
    700,
    normal,
    eot woff ttf svg
);

@include font-face(
    $yikes,
    "../fonts/#{$yikes}/YikesMedium",
    700,
    normal,
    eot woff ttf svg
);

@include font-face(
    $wanderlust,
    "../fonts/#{$wanderlust}/WanderlustLetters-Regular",
    700,
    normal,
    eot woff ttf svg
);

@include font-face(
    $cooper,
    "../fonts/#{$cooper}/CooperBlack",
    700,
    normal,
    eot woff ttf svg
);

